---
import LayoutWithHero from '../layouts/LayoutWithHero.astro';
import LogoTwitter from '../assets/icons/icon-twitter-white.svg';

import imgHero from '../assets/img/hero-homepage.webp';
import { Picture } from 'astro:assets';


const title = "Festival « Ça va Trai'ler ! »";
const subTitle = "Du 21 au 25 avril 2025";
const subTitle2 = "Festival audiovisuel et sportif de Belfort.";
const description = "Le festival « Ça va Trai'ler ! » est un événement audiovisuel et sportif qui se déroule à Belfort. Il propose des projections de films ainsi qu'une multitude d'activités sportives adaptées à tous les niveaux.";
---

<LayoutWithHero title={title} description={description} subTitle={subTitle} subTitle2={subTitle2} src={imgHero} alt="Runner" classContent="">
	
	<Fragment slot="content">
		<p>Contenu principal de la page</p>
	</Fragment>
  </LayoutWithHero>