---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets'; 

const { title, description, subTitle, subTitle2, src, alt, 
classContent = "main-content max-w-2xl mx-6 my-16  lg:mx-auto *:space-y-6"  } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="grille grid h-screen grid-rows-[4fr_1fr] relative lg:grid-rows-[4fr_1fr]">
    <div class="my-12 space-y-8 self-end text-white z-[2] col-span-8">
      <h1 class="lg:text-8xl">{title}</h1>
      {subTitle && (
        <h2 class="font-DMSans text-xl lg:text-3xl font-bold uppercase">{subTitle}</h2>
        <h3 class="font-DMSans text-lg lg:text-2xl font-bold ">{subTitle2}</h3>
      )}
    </div>

    <Picture 
      pictureAttributes={{ class: "duotone !absolute inset-0 object-cover" }} 
      formats={['avif', 'webp']} 
      src={src} 
      alt={alt} 
      widths={[540, 1024, src.width]}
      sizes={`(max-width: 540px) 540px, (max-width: 1024px) 1024px, ${src.width}px`}
    />
  </div>
  <div class={classContent}>
    <slot name="content" />
  </div>
</Layout>
